{{ define "title"}}
{{ .Title }} | {{ .Site.Params.author.name }}
{{ end }}

{{ define "main" }}
<div class="postWrapper">
    <h1 class="mb-2">My career, so far</h1>
    {{ with .Site.Data.curriculum.professional_summary }}
        <h2>Professional Summary</h2>
        <p>{{ . }}</p>
    {{ end }}
    {{ with .Site.Data.curriculum.work_experience }}
        <h2 class="mt-2">Work Experience</h2>
        <ul style="list-style-type: none;">
            {{ range . }}
                <li>
                    <strong>{{ .title }}</strong> at <i>{{ .company }}</i> ({{ .date }})
                    <p>{{ .description | markdownify }}</p>
                </li>
            {{ end }}
        </ul>
    {{ end }}
    {{ with .Site.Data.curriculum.education }}
        <h2 class="mt-2">Education</h2>
        <ul>
            {{ range . }}
                <li>
                    <strong>{{ .title }}</strong> - {{ .school }}
                    <p>Final grade: {{ .grade }}</p>
                </li>
            {{ end }}
        </ul>
    {{ end }}
    {{ with .Site.Data.curriculum.technical_skills }}
        <h2 class="mt-2">Techinical Skills</h2>
        {{ range $skill, $desc := . }}
        <ul>
            <li>
                <strong>{{ $skill }}</strong>
                <p>{{ $desc | markdownify }}</p>
            </li>
        </ul>
        {{ end }}
    {{ end }}
    {{ with .Site.Data.curriculum.projects_and_volunteer_experience }}
        <h2 class="mt-2">Projects and volunteer experience</h2>
        <ul>
        {{ range . }}
            <li>
                <strong>{{ .title }}</strong>{{ with .company}} at <i>{{ . }}</i>{{end}}
                <p>{{ .description | markdownify }}</p>
                {{ with .code }}
                <p><i class="{{.icon}}"></i>&nbsp;<a href="{{.link}}">{{.label}}</a></p>
                {{ end }}
            </li>
        {{ end }}
        </ul>
    {{ end }}
    {{ with .Site.Data.curriculum.interests }}
        <h2 class="mt-2">Other interests</h2>
        <p>{{ .description | markdownify }}</p>
    {{ end }}
</div>
{{ end}}