{{ define "title"}}
{{ .Title }} | {{ .Site.Params.author.name }}
{{ end }}

{{ define "main" }}

<div>
    <div class="listHeader">
        <h1>{{ .Title }}</h1>
    </div>

    {{ with .Content }}
    <div class="listContent">
        {{- . -}}
    </div>
    {{ end }}

    <div>
        {{ range .Pages }}

        <div class="postListItem {{ if .Draft }}draft{{ end }}" role="listitem">
        <!-- [html-validate-disable-next prefer-native-element] -->
            <a class="postListLink" href="{{ .Permalink }}">
                <div class="postHeader">
                    {{ $formattedDate := .Date.Format "2006-01-02" }}
                    <div class="row">
                        <div class="col-9">
                            <div class="postTitle">{{ .Title | markdownify }}</div>
                            {{ with .Param "subtitle"}}
                            <div class="postTitle subtitle">{{ . | markdownify }}</div>
                            {{end}}
                        </div>
                        <div class="col-3">
                            <time class="postDate" datetime="{{ $formattedDate }}">{{ .Date | time.Format ":date_short" }}</time>
                        </div>
                    </div>
                </div>
                <div class="postExcerpt">
                    <p>{{ .Summary }}</p>
                </div>
            </a>
            {{ with .GetTerms "tags" }}
            <div class="tagList">
                {{- range $index, $el := . -}}
                    <div class="tagListItem"><a href="{{ .RelPermalink }}">#{{ .LinkTitle }}</a></div>
                {{- end -}}
            </div>
            {{ end }}
        </div>


        {{end}}
    </div>
</div>

{{ end }}