.tagList {
    font-size: smaller;
    display: flex;
    & .tagListItem {
        margin-inline-end: 5px;
    }
}

.postHeader {
    margin-bottom: 0.5em;
    text-align: left;
    .postTitle {
        float: unset;
    }
}
.postTitle.subtitle {
    font-size: small;
}
.postListItem.draft {
    // background-color: #4f4f4f;
    .postTitle, .postDate, .postExcerpt {
        color: #888888;
    }
}