.tagList {
    font-size: smaller;
    display: flex;
    & .tagListItem {
        margin-inline-end: 5px;
    }
}

.postHeader {
    margin-bottom: 0.5em;
    text-align: left;
    .postTitle {
        float: unset;
    }
}
.postTitle.subtitle {
    font-size: small;
}
.postListItem.draft {
    // background-color: #4f4f4f;
    .postTitle, .postDate, .postExcerpt {
        color: #888888;
    }
}

.section-separator {
    text-align: center;
    margin: 1rem 0;
}

/* Auto Numbering */
body {
    counter-reset: h2
}

h2 {
    counter-reset: h3
}

h3 {
    counter-reset: h4
}

h4 {
    counter-reset: h5
}

.post-content p {
    line-height: 1.9;
}
.post-content.autonumbering h2:before {
    counter-increment: h2;
    content: counter(h2) ". "
}

.post-content.autonumbering h3:before {
    counter-increment: h3;
    content: counter(h2) "." counter(h3) ". "
}

.post-content.autonumbering h4:before {
    counter-increment: h4;
    content: counter(h2) "." counter(h3) "." counter(h4) ". "
}

.post-content.autonumbering .toc__menu ul {
    counter-reset: item
}

.post-content.autonumbering .toc__menu li a:before {
    content: counters(item, ".") ". ";
    counter-increment: item
}